# linux command
alias ls='exa'
alias lla='ls -la'
alias llt='ls -lT'
alias llta='ls -lTa'
alias cat='bat'

# homebrew
set -x PATH /opt/homebrew/bin $PATH

# starship
starship init fish | source

# git
alias g='cd (ghq root)/(ghq list | peco)'

# kubernetes
alias k='kubectl'
k completion fish | source
set -x PATH $HOME/.krew/bin $PATH

{{ if ne .chezmoi.hostname "MacBook-Air-M1" }}
# rancher
set -x PATH $HOME/.rd/bin $PATH
{{ end }}
